/* body{background: #F1F5F9 !important;} */
body{background: #fff !important;}
.page-main{background: #F1F5F9 !important;}
.side-menu .side-menu__icon {font-size: 1.24rem;line-height: 30px;text-align: center;vertical-align: middle;width: 33px;height: 33px;padding: 8px;margin-right: 0.2rem;}
.side-menu__label{color: #ffffff;font-family: 'Poppins';font-weight:300;}
.side-menu__item.active {text-decoration: none;background: #ffffff !important;color: #1a1a1a !important;}
.side-menu__item{padding-left:0px;padding-right:5px;margin-left:0;margin-right:0;border-radius:0;margin:4px 5px;border-radius:5px;}
.side-menu__item.active i.angle {color: #1a1a1a !important;}
li.submenu_menu a.side-menu__item.active {background: #ffffff !important;}
.side-menu .side-menu__icon{height:32px;width:32px;}
a.side-menu__item img {z-index: 9;}
.nav-link.icon .header-icon {height:auto;width:auto;}
@keyframes pulse
{
0% {-moz-box-shadow: 0 0 0 0 rgba(247, 45, 102, 0.9);box-shadow: 0 0 0 0 rgb(140 198 62 / 42%);}
70% {-moz-box-shadow: 0 0 0 10px rgba(247, 45, 102, 0);box-shadow: 0 0 0 10px rgb(247 45 102 / 0%);}
100% {-moz-box-shadow: 0 0 0 0 rgba(247, 45, 102, 0);box-shadow: 0 0 0 0 rgb(247 45 102 / 0%);}
}
.pulse {display: block;position: absolute;top: 23px;right: 23px;width: 7px;height: 7px;border-radius: 50%;background: #5BBC21;cursor: pointer;box-shadow: 0 0 0 rgb(140 198 62);animation: pulse 2s infinite;}
.bg-theme-color {background-color: #5BBC21  !important;color: #fff !important;}
.btn-theme-color {background-color: #5BBC21  !important;color: #fff !important;}
.footer a:not(.btn) {color: #1a1a1a !important;font-weight: 600;}
#back-to-top {background: #5BBC21 !important;}
.dropdown-item:hover, .dropdown-item:focus {color: #5BBC21 !important;}
.profile-dropdown .header-icon {width: 24px;height: 24px;}
.profile-dropdown img{box-shadow:none;}
.dropdown-toggle2::after {display: inline-block;width: 0;height: 0;margin-left: 4rem;vertical-align: 0.255em;content: "";border-top: 0.3em solid;border-right: 0.3em solid transparent;border-bottom: 0;border-left: 0.3em solid transparent;}
.top_navbar_dropdown a.dropdown-toggle2 {padding: 10px 0;color: #1a1a1a;font-size:16px;font-family: 'Poppins';font-weight: 600;border-bottom: 1px solid #1a1a1a;}
.top_navbar_dropdown .dropdown-menu a {color: #1a1a1a;font-family: 'Poppins';}
.top_navbar_dropdown {margin-top: 10px;margin-left: 15px;width:100%;}
.slide.is-expanded .slide-menu a {position: relative;font-size:11px;font-family: 'Poppins';font-weight:400;}
.slide.is-expanded .slide-menu a:before {position: absolute;content: "";display: block;height: 4px;width: 4px;border-radius:50%;background: transparent;left: 10%;}
.app-content .side-app{padding:10px 0 0 0;}
.page-header-message-box {padding: 10px;text-align: center;background: #F1FFDE;}
.page-header-message-box p {margin-bottom: 0;font-size: 16px;font-family: 'Poppins';color: #1a1a1a;}
.page-header-message-box p i {height: 25px;width: 25px;color: #fff;background: #5BBC21;line-height: 25px;border-radius: 50%;margin-right: 15px;}
.page-header-message-box p a {font-weight: 600;color: #5BBC21;text-decoration: underline;}
.page-header-title-box {padding: 10px 15px;}
.dashboard-page-header {background: #5BBC21;}
ul.search_btn_filter_right_ul {margin-bottom: 0;}
.title_text h4 {color: #fff;font-family: 'Poppins';font-weight: 600;font-size: 22px;line-height: inherit;}
.search-box{width: 100%;position: relative;display: flex;}
.search-input{width: 100%;padding: 7px 15px;border: 1px solid #ffffff;border-radius:5px 0 0 5px ;border-right: none;outline: none;font-size:14px;background: #fff;color: #1a1a1a;}
.search-input::placeholder{color:#7c7c7c;font-size:14px;}
.search-button{text-align: center;width: 50px;outline: none;cursor: pointer;border: 1px solid #1a1a1a;border-radius: 0 5px 5px 0 ;background: #1a1a1a;font-size: 16px;}
.search-button i{color:#fff;}
button.add_new_button_type {background: #fff;color: #1a1a1a;font-size: 16px;font-weight: 500;border: none;font-family: 'Poppins';padding: 7px 20px;cursor: pointer;border-radius: 5px;transition: all 0.5s ease-in-out;}
button.add_new_button_type i {padding-right: 10px;}
button.add_new_button_type:focus {outline: 0;box-shadow: none;}
ul.sales_part_button li ul.dropdown-menu li {width: 100%;margin-left:0;margin-bottom:0;}
.addnew_button a {background: #fff;color: #1a1a1a;font-size: 16px;font-weight: 500;font-family: 'Poppins';padding: 7px 20px;border-radius: 5px;transition:all 0.5s ease-in-out;}
.addnew_button a:hover{color:#1a1a1a;}
.addnew_button a i {padding-right: 15px;}
.filter_dropdown button {width: 100%;font-size: 16px;text-align: left;padding: 6px 20px;border-radius: 5px;color: #1a1a1a;font-weight: 600;background:#fff;}
.filter_dropdown button:hover{background:#fff !important;opacity:1;}
.sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-menu .side-menu__icon {margin-right: 10px;}
.right_arrow_sidebar {font-size: 11px !important;}
aside.app-sidebar {background: #1a1a1a !important;overflow-y:auto;}
aside.app-sidebar::-webkit-scrollbar-track{-webkit-box-shadow: none;background-color: #ffffff;}
aside.app-sidebar::-webkit-scrollbar{width: 3px;background-color: #ffffff;}
aside.app-sidebar::-webkit-scrollbar-thumb{background-color: #5BBC21;border: 0;}
ul.side-menu.app-sidebar3 {background: #1a1a1a;}
.main_card {margin: 10px 15px;}
.main_card .card {padding: 10px 20px;}
.company_date {text-align: right;}
.company_name h3 {display:flex;font-size: 16px;color: #1a1a1a;font-weight: 600;font-family: 'Poppins';margin-bottom:5px !important;}
.company_name h3 i {height: 21px;width: 21px;background: #1a1a1a;text-align: center;color: #fff;line-height: 21px;margin-left: 5px;border-radius: 50%;font-size:13px;}
.company_date p {font-size: 13px;color: #1a1a1a;font-weight: 500;font-family: 'Poppins';text-decoration:underline;margin-bottom:2px !important;}
.company_date p i {padding: 0 15px;}
.company_balance p {font-size: 13px;font-weight: 500;font-family: 'Poppins';color: #1a1a1a;margin-bottom:0;}
/* .company_balance p span {font-weight: 500;} */
span.font_sans{font-family:'Open Sans', sans-serif;}
ul.nav.panel-tabs.new_main_tabs ul li a {margin: 0 !important;}
ul.nav.panel-tabs.new_main_tabs li a {font-family: 'Poppins';border-bottom-left-radius: 0;border-bottom-right-radius: 0;margin-bottom: 0;margin-left: 0;margin-right: 20px;font-size:14px;}
ul.nav.panel-tabs.new_main_tabs li a.active {background: #5BBC21;color: #fff !important;font-weight: 500;}
ul.nav.panel-tabs.new_main_tabs li a:hover {color: #5BBC21;}
ul.nav.panel-tabs.new_under_main_tabs {width: 100%;/*border: 1px solid #5BBC21;*/border-radius: 10px;margin: 5px 20px;/*background: #f4f4f4;*/}
ul.nav.panel-tabs.new_under_main_tabs li {width: auto;}
ul.nav.panel-tabs.new_under_main_tabs li a {margin: 0;border-radius: 0;text-align: center;font-family: 'Poppins';font-size:14px;}
ul.nav.panel-tabs.new_under_main_tabs li a:first-child {border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
ul.nav.panel-tabs.new_under_main_tabs li a:last-child {border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
ul.nav.panel-tabs.new_under_main_tabs li a.active {background: #5BBC21;color: #fff !important;}
ul.nav.panel-tabs.new_under_main_tabs li a:hover {color: #5BBC21;}
.send_email button img {
    padding-right: 10px;
}
.download_button button:after {display: none;}
.download_button button {background: #fff;color: #1a1a1a;padding: 0.54em 1em;border:1px solid #1a1a1a;cursor:pointer;font-size: 14px;font-weight: 500;font-family: 'Poppins';border-radius:5px;}
.download_button button img {padding-right: 10px;filter: invert(1);width:22px;padding-top: 3px;
padding-bottom: 3px;}
.download_button button:hover {background: #fff;color: #1a1a1a;}
.download_button button:focus {background: #fff;color: #1a1a1a;}
.download_button ul li a {font-size: 16px;color: #1a1a1a;font-weight: 600;}
.download_button ul li a img {padding-right: 10px;}
.type_name h5 {font-size: 16px;color: #1a1a1a;font-weight: 600;font-family: 'Poppins';margin-bottom:0;}
.tab-content.under_tab_content {margin: 10px 20px;}
.pb_20{padding-bottom:20px;}
.select2-container .select2-selection--single{height:32px !important;}
.send_email button {padding: 0.375em 1em;cursor:pointer;color: #1a1a1a;background: #fff;border-radius: 3px;font-size: 14px;font-weight: 500;font-family: 'Poppins';border:1px solid #1a1a1a;}
.send_email button i {padding-right: 10px;}
.type_balance p {font-size: 14px;color: #1a1a1a;font-weight: 500;font-family: 'Poppins';margin-bottom:0;}
.type_balance p span.regular {font-weight: 400;}
.type_balance {margin: 0px 0;}
.new_data_table {border: none;padding-bottom: 15px;width:100% !important;margin-top:15px !important;}
.new_data_table tr th{background:#f1f5f9;}
.new_data_table tr td{font-size:13px;}
.new_data_table tr th:first-child {border-left: none;}
.new_data_table tr th:last-child {border-right: none;}
.new_data_table tr td:last-child {border-right: none;}
a.onclick_details {color: #2980b9 !important;}
.text-decoration-none {text-decoration: none !important;}
.select2-container--focus{outline:0 !important;}
.custom-select .select2-container:focus {outline: 0px !important;}
#sold_item_wrapper .dataTables_length{display:none;}
a.pdf_a_download {color: #EC3737;}
a.pdf_a_download img {padding-right: 10px;}
ul.sales_part_button {float: right;margin-bottom:0;}
ul.sales_part_button li {display: inline-block;margin-left:10px;}
.sold_righttable_content {text-align: right;}
.sold_table_part {padding: 0px 40px 10px 5px;border-bottom: 1px solid #ddd;position: relative;cursor:pointer;}
.sold_lefttable_content h4 {margin-bottom: 0;font-size: 15px;color: #1a1a1a;font-weight: 500;font-family: 'Poppins';}
.sold_righttable_content p {margin-bottom: 3px;}
.sold_lefttable_content p {font-size: 13px;color: #4F5B79;font-family: 'Poppins';margin-top: 3px;}
.right_button_filter_dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{border:1px solid #1a1a1a !important;}
.filter_dropdown.right_button_filter_dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {font-weight: 500 !important;color: #1a1a1a;font-size: 14px;font-family: 'Poppins';border: none;padding-top: 2px;}
.select2-container--default .select2-selection--single{border:none !important;}
.parties_details_main_tabs{padding:10px 30px;border:1px solid #B9B9B9;margin-top:15px;}
.sold_righttable_content p {font-size: 13px;color: #4F5B79;font-family: 'Poppins';}
.message_top_header {align-items: center;display: flex;margin-left: 30px;}
#parties_listing_wrapper .dataTables_length {display: none; }
#summary_parties_wrapper .dataTables_length{display:none;}
.mobile-device-show{display:none;}
.message_top_header p {margin-bottom: 0;font-size: 15px;font-family: 'Poppins';color: #1a1a1a;}
table.parties_listing_table tr td a.send_schedule_td {color: #fff;background: #1a1a1a;padding: 5px 20px;border-radius: 5px;margin-right: 5px;font-weight: 500;}
table.parties_listing_table tr td{color:#4F5B79;}
.message_top_header p i {height: 25px;width: 25px;color: #fff;background: #5BBC21;line-height: 25px;border-radius: 50%;margin-right: 15px;text-align: center;}
.message_top_header p a {font-weight: 600;color: #5BBC21;text-decoration: underline;}
.right_arrow_part {position: absolute;right: -4%;top: 22%;}
.right_arrow_part i {color: #4F5B79;font-size: 14px;}
.type_name h6 {font-size: 14px;font-weight: 500;color: #1a1a1a;font-family: 'Poppins';margin-bottom:0;}
.type_name h6 a {color: #1a1a1a;padding-right: 10px;}
ul.sales_part_button li a {color: #1a1a1a;font-size: 14px;font-weight: 500;font-family: 'Poppins';}
ul.sales_part_button li a img {padding-right: 10px;}
.items_card_box {box-shadow: 0px 4px 4px 0px #00000040;border-radius: 10px;margin: 15px 0px;}
.top_item_title_box {padding: 10px 30px;background: #5BBC21;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.top_item_title_box h4 {margin-bottom: 0 !important;color: #fff;font-weight: 500;font-size:14px;font-family: 'Poppins';}
.items_table_part {margin: 10px 30px;padding-bottom: 5px;}
.items_table_part table tr th {color: #4F5B79;font-size: 14px;font-weight: 500;font-family: 'Poppins';}
.items_table_part table tr td {font-size: 13px;color: #4F5B79;font-weight: 400;font-family: 'Poppins';}
.color_black{color:#1a1a1a;}
.items_table_net_amount{margin: 0px 30px;padding-bottom: 10px;}.items_table_net_amount table tr th {color: #1a1a1a;font-size: 16px;font-weight: 600;font-family: 'Poppins';}
.items_table_gross_total{margin: 0px 30px;padding-bottom: 10px;}
.items_table_gross_total table tr th {color: #1a1a1a;font-size: 16px;font-weight: 600;font-family: 'Poppins';}
.filter_dropdown ul {border-radius: 20px !important;}
.download_button ul{border-radius: 20px !important;}
.search_btn_filter_right {width: 100%;text-align: right;}
.search_btn_filter_right ul li.inline_block {display: inline-block;margin-left:10px;}
.main_search_box { width: 400px;}
.filter_dropdown .btn-group {margin-top: -5px;}
div#example_wrapper .dt-buttons.btn-group {display: none;}
.page-link:focus{color:#1a1a1a !important;}
.user_profile_dropdown_icon i {line-height: 24px;}
.app-header{z-index:999 !important;}
.top_navbar_dropdown span.selection {border: none;}
.top_navbar_dropdown .select2-container {border: none;width:300px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color: #1a1a1a transparent transparent transparent !important;border-width: 6px 5px 0 5px !important;margin-left: -6px !important;}
.filter_dropdown .select2-container {width: 115px !important;margin-top: -4px;}
.right_button_filter_dropdown .select2-container{margin-top:-6px !important;}
.filter_dropdown .select2-container .select2-selection--single {height:38px !important;border:none !important;}
.left_arrow_sold {position: absolute;cursor: pointer;top:11px;}
.open_hide_select_date ul.select_time_date {width: 35%;float: right;text-align: center;background: #fff;box-shadow: 0px 0px 3px #8bc53e;border-radius: 10px;margin-bottom: 0;margin-top: 5px;}
.open_hide_select_date ul.select_time_date li {padding: 5px 10px;margin-bottom: 2px;}
li.title_select_date_li {background: #8bc53e;color: #fff;padding: 10px !important;}
p.onlick_select_date {position: relative;cursor: pointer;z-index:10;float:right;}
.open_hide_select_date {position: absolute;width: 100%;z-index: 99;right: 0;top:18px;left: 0;padding: 0 10px;display:none;}
.open_hide_select_date ul.select_time_date li:hover a {color: #fff;}
.open_hide_select_date ul.select_time_date li:hover {background: #8bc53e;}
.padding_left_30{padding-left:30px;}
.filter_dropdown {text-align: left;}
.filter_dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {font-weight: 500 !important;color: #1a1a1a;font-size: 16px;font-family: 'Poppins';border:none;padding-top:2px;}
.filter_dropdown .select2-container--default .select2-selection--single .select2-selection__arrow{top:3px;}
.top_navbar_dropdown .select2-container--default .select2-selection--single {border: none !important;}
.top_navbar_dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {color: #1a1a1a;border: none;border-bottom: 1px solid #4F5B79;border-radius: 0;font-weight: 500;}
table.border_top_bottom_none_table tr td {border: none;}
/*********************start modal css*************************/
.modal-content.new_modal_content {border-radius:8px;border:none;}
button.button_close {background: none;border: none;position: absolute;right: 11px;top: 7px;}
button.button_close span {height: 25px;width: 25px;background: #ffffff;font-size: 20px;line-height: 25px;border: 1px solid #ffffff;border-radius: 50%;position: absolute;right: 0;top: 2px;cursor: pointer;}
button.button_close span {color: #5BBC21;}
.modal_top_title {float: left;}
.modal_top_icons {float: right;margin-right:15px;}
.modal_header {padding: 15px 20px 10px 20px;background: #5BBC21;border-top-left-radius:8px;border-top-right-radius:8px;}
.modal_top_title h4 {margin-bottom: 0 !important;color: #fff;font-size: 16px;font-weight: 600;font-family: 'Poppins';}
.modal_top_icons a i {color: #fff;margin: 0 15px;}
img.whatsapp_icon {width: 20px;margin-top: -5px;}
.new_modal_body_content h5 {color: #1a1a1a;font-size: 14px;font-weight: 600;font-family: 'Poppins';margin-bottom: 5px !important;}
.new_modal_body_content p {color: #4F5B79;font-size: 13px;font-family: 'Poppins';font-weight: 300;margin-bottom:0;}
.new_modal_body_content {border-bottom: 1px solid #4F5B79;padding:8px 0;}
.modal-content.email_modal_content {border-radius: 8px;border: none;}
#send_email_modal .modal-dialog{max-width:400px;}
.email_modal_body input {width: 70%;background: #fff;border: 1px solid #C1C1C1;border-radius: 5px;height: 35px;padding: 10px;}
.email_modal_body input:focus {outline: 0;}
.email_modal_body input::placeholder {color: #7C7C7C;}
.button_send_email button {cursor: pointer;font-size: 16px;font-family: 'Poppins';color: #fff;background: #5BBC21;border: 1px solid #5BBC21;padding: 6px 20px;border-radius: 5px;}
.button_send_email {margin-bottom: 10px;}
#sold_item_modal .modal-dialog {max-width: 600px;}
.modal_top_icons p {margin-bottom: 0;font-size: 13px;color: #fff;font-family: 'Poppins';margin-right: 10px;}
.quantity_modal_text_left {float: left;}
.quantity_modal_text_right {float: right;}
.quantity_modal_text_right p {font-size: 13px;color: #4F5B79;font-weight: 400;font-family: 'Poppins';}
.quantity_modal_text_left p {font-size: 13px;color: #4F5B79;font-weight: 400;font-family: 'Poppins';}
.table_sold_item_modal table tr th {font-weight: 600;color: #1a1a1a;font-size: 13px;text-align: center;border: 1px solid #1a1a1a;}
.table_sold_item_modal {height: 250px;overflow-y: auto;display: block;}
table.parties_listing_table tr td a:hover {color: #6c756e;}
a.onclick_details:hover {color: #2980b9 !important;}
a.pdf_a_download:hover {color: #EC3737 !important;}
.left_arrow_sold a:hover {color: #6c756e;}
a.send_schedule_td:hover {color: #fff !important;}
.table_sold_item_modal table tr td {border: 1px solid #1a1a1a;font-size:13px;}
/******************end modal css*******************/

/*****************start form css**********************/
.new_party_form{padding:5px 0px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {height: 36px !important;color: #1a1630;line-height: 34px;border: 1px solid #C4C4C4;border-radius: 5px;}
.flex_cstm_header .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 32px !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 36px !important;}
.flex_cstm_header .select2-container--default .select2-selection--single .select2-selection__rendered {height: 30px !important;}
.form-group.input_new_textbox input::placeholder {color: #9B9B9B;font-size:14px;}
.select2-results__option[aria-selected]{font-weight:400;}
.select2-container--default .select2-results__option .select2-results__option{font-weight:400;}
.select2-container .select2-selection--single .select2-selection__rendered{font-size:14px;font-weight:400;}
.form-group.input_new_textbox input {border: 1px solid #C4C4C4;font-size:14px;color:#1a1a1a;}
.textarea_::placeholder{color: #9B9B9B;font-size:14px;}
.textarea_{font-size:14px;border: 1px solid #C4C4C4;}
button.form_button {padding: 7px 25px;color: #fff;background: #1a1a1a;border: 1px solid #1a1a1a;border-radius: 5px;font-size: 16px;font-weight: 500;font-family: 'Poppins';cursor: pointer;}
/*******************end form css**************/
.daterangepicker {width: auto;right: 16px !important;}
span.onlick_select_date{cursor:pointer;text-decoration:underline;}
input.form-control {font-family: sans-serif;height: calc(2.25rem + 0px);margin-bottom: 0;}
td.inventory_table_th {font-size: 12px;color: #1A1A1A;font-weight: 600;font-family: 'Poppins';margin-bottom: 5px;margin-right: 0;}
.form-control:disabled {background-color: #e9e9eb;opacity: 1;cursor: not-allowed;}
table.new_voucher_table.with_inventory_table {white-space: nowrap;}
button:disabled {cursor: not-allowed;}
input.dropdown-input:disabled {cursor: not-allowed !important;}
select:disabled {cursor: not-allowed;}
.d-flex.flex_cstm_header .top_navbar_dropdown {margin-top: 0;}
.d-flex.flex_cstm_header {align-items: center;}
.last_sync_header {margin-left: 15px;color: #5BBC21;font-weight: 500;font-size: 12px;}
.last_sync_header {color: #1a1a1a;font-weight: 400;font-size: 11px;padding-top:0px;margin-left: 20px;text-align: left;}
.top_navbar_dropdown.mobile_top_navbar_drop_hide .select2-container .select2-selection--single .select2-selection__rendered {padding-left: 0;}
.sync_head_mobile{display:none;}
.last_sync_header span {color: #4c4c4c;font-weight:400;}
li.only_filter_li_up_donwload .filter_dropdown .select2-container .select2-selection--single {height: 32px !important;}
li.only_filter_li_up_donwload .filter_dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 32px !important;}
/*********************start new parties listing css*******************/
p.parties_listing_reminder_date {margin-bottom: 0;color: #6c756e;font-weight: 500;font-size: 10px;font-style: italic;}
td.actions_icons a {padding-right: 5px;display: inline-block;padding-left: 0;}
td.actions_icons a.nav-link{position:relative;}
.open_dooted_content {padding: 5px 10px !important;}
.open_dooted_content img {padding-right: 10px;}
img.send_reminder_image_dotted{width:27px;}
img.schedule_reminder_image_dotted{width:27px;}
img.download_dotted{width:30px;}
.open_dooted_content:hover {background: none;}
.open_dooted_content:hover {color: #1a1a1a !important;}
.tooltip > .tooltip-inner {text-align: center;font-size: 12px;padding: 4px 10px;border-radius: 5px;color: #fff;background-color: #1a1a1a;}
.bs-tooltip-top,
.bs-tooltip-right,
.bs-tooltip-left,
.bs-tooltip-bottom {opacity: 1!important;top:0 !important;}
/*********************end new parties listing css**********************/
.downloadbtn_party{background: #fff;color: #1a1a1a;padding: 0.475em 1em;border: 1px solid #1a1a1a;cursor: pointer;font-size: 14px;font-weight: 500;font-family: 'Poppins';border-radius: 5px;}
.party_download_whatsapp{float: right;display: flex;}
.popup_btndownload{display: flex;align-items: center;}
span.info_icon {background: #4F5B79;text-align: center;color: #fff;margin-left: 5px;border-radius: 50%;font-size: 13px;padding: 1px 8px 1px 8px;}
.sidebar_fill_icon{display:none}
a.side-menu__item.active .sidebar_unfill_icon {display: none;}
a img.sidebar_mobile_fill_active {display: none;}
a.side-menu__item.active .sidebar_fill_icon {display: block;}
.slide.is-expanded .slide-menu a.active:before {content: '';background-color: #5BBC21;}	
.app.sidebar-mini.sidenav-toggled .side-menu__item.active img.sidebar_mobile_fill_active {display: block;}
.app.sidebar-mini.sidenav-toggled .side-menu__item.active img.sidebar_fill_icon {display: none;}
.app.sidebar-mini.sidenav-toggled.sidenav-toggled1 .side-menu__item.active img.sidebar_mobile_fill_active {display: none;}
.app.sidebar-mini.sidenav-toggled.sidenav-toggled1 .side-menu__item.active img.sidebar_fill_icon {display: block;}
.side-menu__item:hover i.angle {color: #fff;}
.side-menu__item i.angle {color: #ffffff;}
img.party_info_icon {width: 18px !important;margin-top: -8px;margin-left: 5px;}
.card {position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: white;background-clip: border-box;position: relative;margin-bottom: 10px;width: 100%;border: 1px solid transparent;box-shadow: 0 0.76rem 1.52rem rgb(18 38 63 / 3%);border-radius: 0.3rem;}
.td_last_sale {font-family: 'Poppins';font-style: italic;font-weight: 500;font-size: 12px;color:#495046;}
.modal-bottom-button {text-align: right;margin-top: 15px;}
.modal-bottom-button button {padding: 5px 15px;margin-right: 5px;background: #fff;color: #1a1a1a;border: 1px solid #1a1a1a;border-radius: 5px;font-family: 'Poppins';cursor: pointer;}
.parties_datefilter {float: right;}
.modal-bottom-button button img {margin-right: 10px;width: 22px;}
.arrow_left_items_parties {position: absolute;top: 5px;}
.arrow_left_items_parties a {color: #fff;font-size: 16px;}
.dataTables_paginate {float: right;}
.dataTables_filter {margin-bottom: 10px;}
.dataTables_filter label{margin-right:0;}
.position-absolute{position: absolute;z-index: 5;}
.v-data-footer{justify-content:end;}
/* /////add 12-09-20022////// */
.v-data-table-header{background: #F1F5F9;border-bottom: 1px solid #D9D9D9 !important;border-top: 1px solid #D9D9D9;color: #384b6e;}
.v-text-field > .v-input__control > .v-input__slot:after {width: 0px !important;}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td{padding: 8px 15px !important;}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td{font-size:11px !important;height:auto !important;font-weight:500;}
.td_last_sale{font-size:10px;}
.amount_closing{font-weight:500;}
.custom_table_a {color: #0F51F6;text-decoration: underline;}
table.table.sold_table tr td {padding: 0.75rem 0;}
table.table.sold_table tr td a {padding: 0;}
table.table.sold_table {margin-bottom: 0;}
.v-data-footer__select{display: none !important;}
td.custom_table_a {text-decoration: none;}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {background: #f9f9f9 !important;}
.opening_plus_balance{color:rgba(0, 0, 0, 0.87);font-style:normal;}
.opening_minus_balance{color:rgba(0, 0, 0, 0.87);font-style:normal;}
span.display_date i {cursor: pointer;}
.close_plusbalance{color: #1e911e;font-style:normal;}
.close_minusbalance{color: #FF0000;font-style:normal;}
.router-link-active{background: #ffffff;}
.router-link-active span{color: #1a1a1a !important;}
.router-link-active img.sidebar_fill_icon {display: block;}
.router-link-active img.sidebar_unfill_icon {display: none;}
.onright_icon_show {position: absolute;top: 10px;right: 0;}
.email_address_type {position: relative;}
.mobile_number_type{position: relative;}
.onright_icon_show a {margin-left: 10px;}
span.mail_icon_modal img {width: 15px;}
span.edit_icon_modal img {width: 15px;}
.new_modal_body_content:last-child {border-bottom: none;}
li.slide.active a {background-color: #fff !important;}
li.slide.active a span {color: #1a1a1a;font-weight: 600;}
li.slide.active a img.sidebar_fill_icon {display: inline-block;}
li.slide.active a img.sidebar_unfill_icon {display: none;}
/**********************start date rangepicker css new*******************/
.daterangepicker.openscenter:after, .daterangepicker.openscenter:before{left:65% !important;}
.parties_datefilter_vue {float: right;position: relative;}
.parties_datefilter_vue .daterangepicker.openscenter[data-v-1ebd09d2] {left: -50%;}
.vue-daterange-picker i {color: #1a1a1a;}
.vue-daterange-picker span {color: #1a1a1a;font-size:12px;font-family: 'Poppins';font-weight:500;}
button.applyBtn.btn.btn-sm.btn-success {background: #5BBC21;}
button.applyBtn.btn.btn-sm.btn-success:hover {background: #5BBC21 !important;}
button.cancelBtn.btn.btn-sm.btn-secondary {background: #1a1a1a;}
.daterangepicker td.in-range{background-color: #f3ffe2 !important;}
.daterangepicker td.active, .daterangepicker td.active:hover{background-color: #5BBC21 !important;color:#fff !important;}
span.datepicker_right_arrow {position: absolute;right: 10px;top: 7px;cursor: pointer;font-size:12px;}
span.datepicker_left_arrow {position: absolute;left: 10px;z-index: 1;top: 7px;cursor: pointer;font-size:12px;}
.reportrange-text[data-v-1ebd09d2]{text-align:center;padding: 2px 30px !important;height:30px;}
.reportrange-text i{font-size:12px;font-weight:600;}
/***************************end date rangepicker css new*************************************/
div#edit_email_modal {opacity: 1;background:#000000b0;}
div#mobile_onclick_modal {opacity: 1;background:#000000b0;}
.v-input.theme--light.v-text-field.v-text-field--is-booted.v-select.v-select--is-multi{max-height:66px;width:150px;}
/****************************start add remove heading dropdown************************************/
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before
{border-color:transparent !important;}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before{border-color:transparent !important;}
.v-text-field .v-label--active {max-width: 133%;-webkit-transform: translateY(0) scale(0.75) !important; transform: translateY(0px) scale(1) !important; }
.v-list-item__content{padding:8px 0 !important;}
.v-list-item__action{margin:5px 0 !important;}
.v-list-item__title{font-size:0.75rem !important;}
.v-list-item{padding:0 10px !important;min-height:auto !important;}
.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child
{margin-right:8px !important;}
.v-input.theme--light.v-text-field.v-text-field--is-booted.v-select.v-select--is-multi{display: none;max-height: 35px;padding: 0 10px;border: 1px solid #1a1a1a;margin-top: 0;border-radius: 5px;}
.v-menu__content{top:34px !important;}
.v-input .v-label{font-size:14px !important;color: #1a1a1a !important;}
.v-application--is-ltr .v-text-field .v-label{font-size: 14px !important;font-weight: 400;font-family: 'Poppins';}
/***********************end add remove heading dropdown**************************/
.slide_custom_menu .router-link-active {background: transparent;color: #5BBC21 !important;}
.slide.is-expanded .slide-menu.slide_custom_menu a.router-link-active:before{background: transparent;}
.vue-daterange-picker .caret {display: none;}
.required_red{color: #FF0000;}
span.error-validation {color: #f00;font-size: 12px;}
.icon-color{color: #ffffff;}
div#modal-multi-1___BV_modal_content_ {border-radius: 8px;}
div#modal-multi-1___BV_modal_outer_ .modal-dialog {max-width: 700px;}
div#partyDetailsData {padding: 0;}
header#modal-multi-1___BV_modal_header_ {padding: 5px 20px 5px 20px;background: #5BBC21;border-top-left-radius: 8px;border-top-right-radius: 8px;align-items: center;}
h5#modal-multi-1___BV_modal_title_ {color: #fff;font-weight: 700;margin-bottom: 0 !important;}
button.close {color: #fff;font-size: 25px;line-height: inherit;}
button.close:hover {color: #fff !important;opacity: 1 !important;}
div#modal-multi-2___BV_modal_content_ {border-radius: 8px;}
div#modal-multi-2___BV_modal_outer_ .modal-dialog {max-width: 500px;}
div#partyDetailsData {padding: 0;}
header#modal-multi-2___BV_modal_header_ {padding: 10px 20px 0px 20px;background: #5BBC21;border-top-left-radius: 8px;border-top-right-radius: 8px;}
h5#modal-multi-2___BV_modal_title_ {color: #fff;font-weight: 700;}
div#modal-multi-3___BV_modal_content_ {border-radius: 8px;}
div#modal-multi-3___BV_modal_outer_ .modal-dialog {max-width: 500px;}
div#partyDetailsData {padding: 0;}
header#modal-multi-3___BV_modal_header_ {padding: 10px 20px 0px 20px;background: #5BBC21;border-top-left-radius: 8px;border-top-right-radius: 8px;}
h5#modal-multi-3___BV_modal_title_ {color: #fff;font-weight: 700;}
/*************************start new tabs css*********************************************/
a.headers {padding: 10px 20px;color: #6c756e;font-weight: 600;}
.tabs-menu {margin: 10px;}
.main_item_top_nav_tabs{padding:5px !important;}
.parties_tab_menu{margin:0 !important;}
.slide.active.is-expanded .side-menu__item{border-radius:5px !important;}
.items_summary_tabs{margin:0 !important;}
/*************************end new tab css********************************************/
ul.search_input.search_input_right {float: right;}
.parties_listing_reminder_date{margin-bottom: 0;color: #6c756e;font-weight: 500;font-size: 10px;font-style: italic;}
.border-bottom-none{border-bottom:none;}
.items_table_part table tr:last-child {border-bottom: 1px solid #4F5B79;line-height: 23px;}
.items_table_part.border-bottom-none tr:last-child {border-bottom: none;}
.items_table_part table {margin-bottom: 4px;}
.items_table_part.contra_journal_set tr:last-child {border-bottom: none;}
.items_table_part.contra_journal_set tr {border-bottom: 1px solid #4F5B79;line-height: 31px;}
.v-data-table__wrapper table tr td .new_sold_table_main{position: relative;padding: 0px 40px 10px 5px;}
.v-data-table__wrapper table tr td .new_right_arrow_sold{position: unset;float: right;margin-top:-40px;cursor: pointer;}
.sold_purchase_head_table thead.v-data-table-header {display: none;}
.v-application p{margin-bottom:0 !important;}
p.red_color {color: #EC3737;}
p.green_color {color: #1E911E;}
.opening_text h4 {font-size: 16px;font-weight: 500;font-family: 'Poppins';color: #1a1a1a;margin-bottom: 0 !important;padding:5px 15px;}
.opening_amount {padding: 5px 15px;text-align: right;position: absolute;right: 0;top: 5px;}
.opening_amount h4 {font-size: 16px;font-weight: 500;font-family: 'Poppins';color: #1a1a1a;margin-bottom: 0 !important;padding:5px 15px;}
.opening_main{padding: 10px 0;width:100%;position: relative;background: #f2f2f2;}
.closing_text h4 {font-size: 16px;font-weight: 500;font-family: 'Poppins';color: #1a1a1a;margin-bottom: 0 !important;padding:5px 15px;}
.closing_amount {padding: 5px 15px;text-align: right;position: absolute;right: 0;top: 5px;}
.closing_amount h4 {font-size: 16px;font-weight: 500;font-family: 'Poppins';color: #1a1a1a;margin-bottom: 0 !important;padding:5px 15px;}
.closing_main{padding: 10px 0;width:100%;position: relative;background: #f2f2f2;}
.footer-icon{height: 20px;width: 20px;}
.pdftable th, .pdftable td  {border: 1px solid #1a1a1a;border-collapse: collapse;color:#000000;padding: 5px 5px;}
.pdftable{page-break-after:auto; }
.tabletextcenter,.pdftable th {text-align: center;color:#000000;}
.paddinpdf{padding: 50px;}
.border-bottom-grey {border-bottom: 1px solid #D9D9D9;padding-bottom: 8px;}
.new_voucher_details_table h4 {font-size: 16px;font-weight: 700;color: #1a1a1a;margin-top: 8px;}
.new_voucher_details_table table tr th {font-size:12px;font-weight: 600;padding: 10px 15px;border-top: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;font-family: 'Poppins';}
.new_voucher_details_table table tr td {font-size:11px;padding: 10px 15px;border-bottom: 1px solid #ddd;font-family: 'Poppins';}
.new_voucher_details_table table tr th.bg_grey {background: #F8F8F8;}
.new_voucher_details_table table tr th.bg_blue {background: #F1F5F9;}
th.gross_total_fonts {font-size: 20px !important;}
button.btn.download_border_btn img {padding-right: 8px;width:28px;}
.sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide-menu a.active{color:#5BBC21 !important;}
.button_onclick{color: #2980b9 !important;}
img.image_size_set_eye {width: 22px;}
img.image_size_set_whatsappfill {width: 20px;height: 20px;}
/********************table css for right alignment*****************/
.v-data-table__wrapper{overflow-x:hidden !important;}
.gst_table .v-data-table__wrapper{overflow-x:auto !important;}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td > p {font-weight: 500;font-size:11px;}
/******************table css for right alignment*********************/
span.beta-text {font-size: 13px;padding: 3px 10px;background: #f23c3c;border-radius: 5px;color: #fff !important;margin-left: 2px;cursor: auto;}
.loader-wrapper {position: fixed;top: 0;left: 0;width: 100%;height: 100%;display:flex;align-items:center;justify-content:center;background: #00000012;z-index: 9999999;}
.loaded .loading_css {opacity: 1;transition: all 0.1s ease-out;}
.loaded .loader-wrapper {visibility: visible;}
.loading_css img{height:50px;width:50px;margin:auto;	}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row){border-bottom: none !important;}
.theme--light.v-data-table .v-data-footer {border-top: none !important;} 
tr{border-bottom:1px solid rgba(0, 0, 0, 0.12);}
 a.disabled-image img {filter: grayscale(1);cursor:auto;}
 p.pdf_a_download img {padding-right: 5px;}
.bottom_navigation-pagination .v-pagination {justify-content: end;padding: 10px 0 0 0;}
.alert-success {color: #38cb89;background-color: #edfff7;border-color: transparent;border-left: 3px solid #38cb89;}
.alert.alert-dismissible.alert-success button.close:hover {color: #38cb89 !important;}
.alert.alert-dismissible.alert-success {position: absolute;z-index: 1;right: 10px;width: 50%;top: -15px;}
.alert.alert-dismissible.alert-success i {color: #fff;background: #38cb89;height: 30px;width: 30px;line-height: 30px;text-align: center;border-radius: 50%;margin-right: 10px;}
.sendreminder_btn:disabled{cursor: not-allowed;}
select.form-select.stockdrop{border: 1px solid #ccc;}
select.set_width_dropdown_inactive {width: 150px;}
button.v-pagination__item.v-pagination__item--active.primary {background-color: #2980b9  !important;border-color: #2980b9  !important;}
.rightbutton{float: right;}
.main_card.itemp{margin: 20px 30px;}
h3.maginb_0 {margin-bottom: 0 !important;}
.v-pagination__navigation{height:24px !important;width:24px !important;}
.v-pagination__item{height: 26px !important;/*width:35px !important;min-width:35px !important;*/font-size:0.75rem !important}
.v-application--is-ltr .v-data-footer__select{height:27px !important;margin-bottom:12px;}
.main_heading_new_without_box{padding:5px 20px;}
.theme--light.v-data-table .v-data-table-header th.sortable .v-data-table-header__icon{opacity:1 !important;}
.theme--light.v-data-table .v-data-table-header th.sortable:hover, .theme--light.v-data-table .v-data-table-header th.sortable.active {color: #1a1a1a !important;}
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {color: #1a1a1a !important;}
.new_button_without_box{float: right;}
.arrow_left_items a {color: #1a1a1a !important;background: transparent;}
.loader-wrapper-sales {position: absolute;top: 0;left: 0;width: 100%;display: flex;height: 100%;background: #0000000f;z-index: 9999999;align-items: center;justify-content: center;}
.loaded .loading_css_sales {opacity: 0.5;transition: all 0.1s ease-out;}
.loaded .loader-wrapper-sales {visibility: visible;}
.main_loader_sales_box{position: relative;}
.loading_css_sales img{height:35px;width:35px;margin:auto;	}
.main_loader_receivables_box{position: relative;}
.new_loader_gif {position: absolute;background-image: url('/assets/images/1.0/brand/normal-loader.gif');background-color: #fff;height: 100%;width: 100%;z-index: 99;top:0;left:0;right:0;bottom:0;}
.main_loader_receipt_box{position: relative;}
.main_loader_purchase_box{position: relative;}
.main_loader_payables_box{position: relative;}
.main_loader_payment_box{position: relative;}
.main_loader_cb_box{position: relative;overflow:hidden;}
.main_loader_balance_cb_box{position: relative;overflow:hidden;}
.main_loader_top_reports_box{position: relative;overflow:hidden;}
.main_loader_top_supplier_box{position: relative;overflow:hidden;}
.label_mb_input {margin-bottom: 5px;}
.v-application .primary--text {color: #5BBC21 !important;caret-color: #5BBC21 !important;}
.parties_addbutton_top{top:0px !important;}
.border_light_dropdown_set select {border: 1px solid #C3C4C4;}
.company_name h3.partyName span.max-lines {text-overflow: ellipsis;white-space: nowrap;word-wrap: break-word;overflow: hidden;max-width: 75%;display: inline-block;}
.parties_datefilter_vue .parties_datefilter_vue .form-control {margin-bottom: 0;}
li.new_date_filter_sortby .vue-daterange-picker .form-control {margin-bottom: 0;}
button.vch_num_all_btn {color: #2980b9 !important;background: none;border: none;box-shadow: none;padding: 0;font-size: 11px !important;font-weight: 500;}
button.vch_num_all_btn:focus {background-color: transparent !important;border-color: transparent !important;box-shadow: none !important;}
button.vch_num_all_btn:hover {background: none !important;color: #2980b9 !important;box-shadow: none !important;}
.vue-daterange-picker[data-v-1ebd09d2]{display: block !important;}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table > .v-data-table__wrapper > table > thead > tr > th, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th{height:32px !important;}
.disable-white-input .form-control:disabled {border: 1px solid #C4C4C4;background-color: #fff;}
/***************************************/
button.btn.user-profile-btn {padding: 0;border: none;font-weight: 400;font-size: 14px;color: #1A1A1A;display: flex;align-items: center;}
button.btn.user-profile-btn:focus-visible {border: 1px solid #ddd;}
button.btn.user-profile-btn img {margin-right: 10px;width:25px;}
.profile-showdropdown ul li a:focus-visible {background: #f3ffe2;color: #1a1a1a;}
button.btn.user-profile-btn i {margin-left: 5px;}
.profile-showdropdown {background: #FFFFFF;border: 1px solid #F0F0F0;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);border-radius: 5px;padding: 0px 0px;position: absolute;margin-top: 14px;right: 15px;z-index: 9999;}
.profile-showdropdown a.user-profile-tag {width: 100%;display: block;border-bottom: 1px solid #EEEDED;padding: 6px 15px 6px 15px;color:#1a1a1a;}
.profile-showdropdown a.user-profile-tag img {margin-right: 5px;}
button.btn.user-profile-btn p {text-overflow: ellipsis;white-space: nowrap;word-wrap: break-word;overflow: hidden;width: 100px;display: inline-block;margin-bottom: 0;color: #1a1a1a;font-size: 13px;text-align:left;}
.profile-showdropdown a.user-profile-tag:last-child {border-bottom: 0;}
.header-inner-fluid {display: flex;justify-content: space-between;align-items: center;}
/********/
.premium-subscription-headre h3 img {margin-right: 5px;margin-top: -5px;}
.premium-subscription-headre {margin-right: 15px;}
.premium-subscription-headre h3 {margin: 0 !important;font-weight: 700;font-size: 13px;padding-right: 15px;border-right: 1px solid #a7a7a7;}
a.green_color_message{color: #1F6D3F;}
.connect_tally_message h3 img {width: 40px;}
a.red_color_message {color: #C5262C;}
.sms_credit_message h3 img {width: 25px;}
.premium-subscription-headre h3 span {color: #1a1a1a;word-break: break-word;}
.header-right-content {display: flex;align-items: center;}
.support_number p {margin-bottom: 0;font-weight: 600;font-size: 13px;color: #1a1a1a;margin-right: 15px;padding-right: 15px;border-right:1px solid #a7a7a7;}
.support_number p a {font-weight: 400;color: #2980b9;white-space: nowrap;}
.support_number p img {margin-right: 5px;width: 19px;}
.version-part p {color: #fff;font-size: 12px;padding: 0 0 0 15px;font-weight: 400;}
.version-part {position: fixed;bottom: 0;}
a:focus-visible {border: 1px solid #ddd;outline: 0;}
.view_more_btn a:focus-visible{border: 1px solid #ddd;outline: 0;padding: 3px 10px;box-shadow: 1px 1px 1px #dddddd;}
a.onclick_details:focus-visible {padding: 5px 5px;border: 1px solid #ddd;}
.top_customers_dropdown .custom_dropdown_new:focus-visible {border: 1px solid #000;outline: 0;box-shadow: 1px 1px 5px #ddd;}
li.manage_custom_datepicker {float: right;display: flex;margin-bottom: 0;}
li.manage_custom_datepicker .form-control.reportrange-text {margin: 0;padding: 2px 10px !important;}
li.manage_custom_datepicker .daterangepicker.ltr.show-calendar.show-ranges.openscenter.linked {transform: translate(-83%) !important;z-index: 10;}
.anchor_custom{color: #1a1a1a !important;font-size: 12px !important;margin-left: 5px;transition: all 0.5s ease-in-out;font-weight: 500 !important;}
.anchor_custom:hover{color: #5BBC21 !important;text-decoration: underline;}
  
/********* new design css settings************/
ul.nav.panel-tabs.new_main_tabs li a.new_setting_a {padding: 7px 20px;color: #1a1a1a !important;font-weight: 600;background-color: transparent;border: 1px solid #EEEEEE;margin-right: 0;margin-top: 0;border-radius: 5px;}
ul.nav.panel-tabs.new_main_tabs li a.new_setting_a.active {color: #1a1a1a !important;border-radius: 5px;background: #ffffff;border: 1px solid #1a1a1a;}
.main_card_settings ul.nav.panel-tabs.new_main_tabs {margin-bottom: 10px;background-color: #EEEEEE;float: left;border-radius: 5px;}
ul.accounts_ul {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;padding-left: 0;list-style: none;margin-bottom: 10px;background-color: #EEEEEE;float: left;border-radius: 5px;}
a.account_atag {padding: 7px 20px;color: #1a1a1a !important;font-weight: 600;background-color: transparent;border: 1px solid #EEEEEE;margin-right: 0;margin-top: 0;border-radius: 5px;display: block;cursor: pointer;}
a.account_atag.active_account {color: #1a1a1a !important;border-radius: 5px;background: #ffffff;border: 1px solid #1a1a1a;}
.support_number p a i{padding: 0 3px;}
a.pdf_a_download.DwonloadPDFImage {color: red;font-size: 13px;}
a.pdf_a_download.DwonloadPDFImage img {padding-right: 5px;}
img.pdficonimagetable{width:24px;}
.eWaybillinnerbox {border: 1px solid #eee; padding:5px 10px}
.ewaybillcontentinner label {color: gray;}
.ewaybillcontentinner p {color: #1a1a1a;font-weight: 600;margin-bottom:0;}
h5.ewaybillinnerheading {font-size: 16px;color: #1a1a1a;font-weight: 600;}
p.ewaywitheinvoice a {color: #2563eb;font-size: 13px;padding-left: 5px;}
.typealignright{text-align:right;}
p.ewaywitheinvoice a img {width: 20px;}
ul.eWaybillTabsul li {margin: 10px;margin-left: 0;}
ul.eWaybillTabsul li a.details_link_active {border: 1px solid #5bbc21;padding: 5px 20px;border-radius: 3px;color: #1a1a1a;}
ul.eWaybillTabsul li a {border: 1px solid #ddd;padding: 5px 20px;border-radius: 3px;}
/*****************Start new CSS for sidebar********************/
/* a.new-active-class.router-link-active {background: #3E464A;} */
a.new-active-class.router-link-active span {color: #1a1a1a !important;font-weight:500;}
.header_plus_icon{position:fixed;right:15px;bottom:30px;z-index: 2;background-color: #1a1a1a;border-radius: 50%;padding:10px;}
/* .header_plus_icon p {margin-bottom: 0;padding: 10px 15px;background-color: #1a1a1a;border-radius: 30px;} */
.header_plus_icon img {width: 20px;}
a.DropdownMenuCreateVoucher {position: relative;}
a.DropdownMenuCreateVoucher img{filter:invert(1);}
a.DropdownMenuCreateVoucher:hover .rightDropdownVoucherpoint{display:block;}
a.DropdownMenuCreateVoucher span.side-menu__label {color: #ffffff;}
a.DropdownMenuCreateVoucher i {color: #ffffff;font-size: 11px;}
a.DropdownMenuCreateVoucher:hover {background: #fff;}
a.DropdownMenuCreateVoucher:hover span.side-menu__label {color: #1a1a1a;font-weight:500;}
a.DropdownMenuCreateVoucher:hover i {color: #1a1a1a !important;}
a.DropdownMenuCreateVoucher:hover img {filter:none;}
a.DropdownMenuCreateVoucher.active {background: #fff;}
a.DropdownMenuCreateVoucher.active span.side-menu__label {color: #1a1a1a;font-weight:500;}
a.DropdownMenuCreateVoucher.active i {color: #1a1a1a !important;}
a.DropdownMenuCreateVoucher.active img {filter:none;}
a.slide-item span img.new_lock_white_sidebar {top: 6px;}
/****************************************/
.PartiesReceivablesPayables {display: flex;align-items: center;}
.PartiesReceivablesPayablesSet p {margin-bottom: 0;font-weight: 400;color: #1a1a1a;}
.PartiesReceivablesPayablesSet h5 {font-weight: 600;margin-bottom: 0;font-size: 16px;color: #1a1a1a;}
.PartiesReceivablesPayablesSet h5 span.LacsSpanSet {color: rgba(101, 101, 101, 1);font-size: 12px;}
.PartiesReceivablesPayablesSet {margin-right: 20px;padding-right: 20px;}
/**********Start New Change Mobile Number CSS*************************/
.ChangeNumberMainDivProfile {position: relative;}
span.InputChangeGroupAddon {position: absolute;right: 1px;top: 25px;padding: 9px 10px;background: #F6F6F6;border-top-right-radius: 5px;border-bottom-right-radius: 5px;cursor: pointer;font-size: 12px;}
span.InputChangeGroupAddon i {padding-right: 7px;}
.VerifyOTPModalProfilePage {position: fixed;z-index: 9999999;top: 0;left: 0;width: 100%;height: 100%;background-color: rgb(0 0 0 / 37%);display: flex;align-items: center;justify-content: center;}
.VerifyOTPModalPopupPortion {width: 400px;background: #fff;border-radius: 10px;text-align: center;position: relative;padding:20px;margin:15px;}
button.CrossIconProfilePopup {float: right;margin-top: -50px;margin-right:-16px;height: 20px;width: 20px;background: #ffffff;border-radius: 50%;font-size: 16px;text-align: center;line-height: 20px;}
.CalliconCirclePrifleOtpPopup i {height: 50px;width: 50px;line-height: 50px;background: #ECFFE1;border-radius: 50%;font-size: 20px;color: #5BBC21;}
.CalliconCirclePrifleOtpPopup {margin: 10px 0 20px 0;}
.VerifyOTPCaptionPortionPopup h3 {font-size: 20px;font-weight: 600;color: #1a1a1a;}
.VerifyOTPCaptionPortionPopup p {color: #49454F;font-size: 13px;margin-bottom: 8px;}
.VerifyOTPCaptionPortionPopup h6 {color: #1a1a1a;font-weight: 600;}
button.VerifyandContinueButtonPopupButton {background: #262932;color: #fff;width: 100%;padding: 10px 10px;border-radius: 5px;}
.OTPVerifyInputPortionProfile input {height: 40px;width: 40px;border: 1px solid #ddd;border-radius: 5px;text-align: center;}
.OTPVerifyInputPortionProfile {margin: 20px 0;display: flex;align-items: center;justify-content: center;column-gap: 20px;}
.OTPVerifyInputPortionProfile input:focus {border: 1px solid #5bbc21;}
.OTPErrorforProfileMessage {margin-bottom: 10px;color: #ff0000;}
.new-number-section-profile {text-align: left;margin-top: 20px;}
.new-number-section-profile label {font-size: 13px;color: #49454F;}
.phone-input-container-profile {margin: 5px 0;display: flex;align-items: center;}
.phone-input-container-profile input {border: 1px solid #ddd;width: 100%;margin-left: 15px;padding: 8px 10px;border-radius: 5px;}
.phone-input-container-profile span {width:25%;text-align:center;padding: 8px 10px;border: 1px solid #ddd;background: #F9FAFB;border-radius: 5px;color:#1a1a1a;font-weight:600;}
span.MobileNumberEditPortionOTP{color:#0092F1;padding-left:10px;font-weight:600;cursor:pointer;}
.CongratulationProfileOTPimage {margin: 10px 0 30px 0;}
button.LoginButtonSuccessTime {background: #1a1a1a;color: #fff;padding: 10px 30px;border-radius: 5px;}
/**********End New Change Mobile Number CSS*************************/
@media only screen and (max-width:1366px){
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > td
    {
        padding:7px 15px !important;
    }
}
@media only screen and (max-width:1280px){
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > td
    {
        padding:5px 15px !important;
    }
}
/*******************************/
