


@media only screen and (max-width:1920px){  
    .section_pading.pricing-new-website {padding-bottom: 40px !important;}    
    .feature-new-website {height: 100vh !important;}
    .pricing-new-website {height: 100vh !important;}
    .option_three_faq{height: 100vh !important;}
    }
    
    @media only screen and (max-width:1600px)
    {
    section#home_setup h2 {margin: 20px 0 !important;}
    
    .step_div h6 {line-height: 30px; margin: 20px 0px 20px 0px !important;}
    .third_index .banner_overlay{right:0;}
    /**********************************************/
    .pricing_access_content_options ul{margin-bottom:15px !important;}
        section.pricing-new-website .pricing_btn span.offer_span{font-size:11px !important;}
        section.pricing-new-website .pricing_btn{font-size: 14px !important;}
        .pricing-new-website .basic_access ul li.plans_tab_heading {font-size: 20px !important;}
        ul.option3_pricing_nav{padding:15px 10px 24px 10px !important;}
        .pricing-new-website .basic_access ul li{font-size:12px !important;margin-bottom:10px !important;}
        .pricing-new-website .basic_access h3 {font-size: 18px !important;margin: 10px 0 !important;}
        .pricing_basic_options_heading{font-size:18px !important;padding:5px 0 !important;}
        .get_started_image.option3_get_started {left: -24%;bottom: 9%;}
    .option3_get_started img {width: 100px;}
        .options3_content_flow ul li {font-size: 14px !important;}
        button.view_data_options {font-size: 14px;}
    .free_dbutton_options3 {padding: 12px 20px !important;font-size: 14px !important;}
    .free_dbutton_options3 img {width: 22px !important;}
    button.view_data_options img {width: 17px;}
    .dbutton_new_options .watch_video_link a {font-size: 12px;}
    .dbutton_new_options .watch_video_link {margin: 5px 0 0 0;}
        span.options_round_value {height: 35px !important;width: 35px !important;font-size: 16px !important;}
    .onlytext_heading_topspace {margin-top: 00px;}
        .new_options_box_image {margin: 10px 0 !important;}
    .dbutton_new_options {margin-bottom: 20px;margin-top:10px;}
        h6.heading_new_options_box {font-size: 15px !important;}
        .three_step_innerdiv.third_main_option_last.option_3_inner {margin-top: 30px !important;margin-bottom: 30px;}
        p.new_steps_content_2 {font-size: 24px;}
        h2.new-landing-title img{width: 135px !important;}
        h2.new-landing-title{font-size:45px !important;}
    }
    @media only screen and (max-width:1400px)
    {
       
    .three_step_innerdiv:before{top:41%;}
    .tally_button_main:hover .windows_download_tally{transform: translate(35px, 0px);}
    section#home_setup h2{font-size:45px;margin:10px 0 !important;}
    .step_div h6{font-size:18px;margin: 15px 0px 20px 0px !important;}
    .step_div{min-height:310px;}
    .set_step_image{height:110px;}
    .step_div.tally_connector_step_1 button.free_download_connector_black{font-size:14px;}
    ul.step_box_ul li.step_box_li{width:25%;}
    .newwebsite_index ul.step_box_ul li.step_box_li{width:28%;}
    .get_started_image{left:-26%;}
    .three_step_heading p:after{left:50.5%;height:15px;bottom:-12px;}
    .content_flow{margin: 22px 0 22px 0;}
    .content_flow ul li{font-size:14px;}
    .green_box_message p{font-size:16px;}
    /* section#home_setup h2 img{width:110px;} */
    .three_step_innerdiv{margin-top:25px;}
    .three_step_heading p{font-size:16px;}
    .third_index .content_flow{margin: 33px 0 23px 0 !important;}
    .feature-new-website {height: 570px !important;overflow-y: auto;}
    .pricing-new-website {height: 570px !important;}
    }
    @media only screen and (max-width:1280px)
    {
        .pricing_access_content_options ul{padding-left:0;}
        .pricing-new-website .basic_access ul li{font-size: 11px !important;}
        .basic_access ul li img {width: 12px;}
    .login_form_heading h3{font-size:18px;}
    .loginsidebar_footer h5{font-size:14px;}
    .content_flow {margin: 22px 0 22px 0;}
    .get_started_image{left:-24%;bottom:8%;}
    .three_step_heading p{font-size:14px;}
    section#home_setup h2{font-size: 33px;margin: 0px 0 !important;}
    .step_div h6 {font-size: 14px;margin: 15px 0px 15px 0px !important;line-height:24px;}
    .step_div{min-height:280px;}
    .third_index .input_with_join_button.input-group{width: 100% !important;}
    .third_index .banner_overlay img {width: 75%;}
    .newwebsite_index ul.step_box_ul li.step_box_li{width:29%;}
    .newwebsite_index .get_started_image {left: -27%;}
    .second_index_design .three_step_innerdiv.view_two_option {margin-top: 1.5rem;}
    .third_index .content_flow {margin: 17px 0 17px 0 !important;}
    .three_step_heading.mt-5 {margin-top: 5px !important;}
    .third_index .content_flow ul li {font-size: 14px;}
    .feature-new-website {height: 515px !important;}
    .pricing-new-website{height: 515px !important;}
    
    .three_step_innerdiv.third_main_option_last .set_step_image {margin-top: 10px;}
    /* .third_index h2 {display: block;} */
    h2.new-landing-title {font-size: 36px !important;}
    h2.new-landing-title img {width: 110px !important;}
    .three_step_innerdiv.third_main_option_last .step_div h6{font-size:16px !important;}
    .free_big_button {padding: 10px 15px !important;font-size: 14px !important;}
    button.free_download_connector{padding: 8px 15px;font-size:12px !important;}
    .section_header_name h3{font-size: 25px !important;margin: 0 0 0px 0 !important;}
    .pricing-new-website .basic_access_box_heading {font-size: 16px !important;}
    .pricing-new-website .basic_access h3 {font-size: 14px !important;margin: 5px 0 !important;}
    .pricing-new-website .basic_access_getstarted {font-size: 14px !important;}
    .pricing-new-website .unlimited_access_content h5{font-size: 16px !important;}
    header.newwebsite_header .cstm_header .navbar-brand img {width: 180px;}
    .section_pading.newwebsite_index {padding: 30px 0 0 0 !important;}
    .watch_video_link {margin-bottom: 5px;}
    .option_two h2 img {width: 110px !important;}
    .pricing_plans ul{width: 85%;}
    li.recommended_pricing{width: 36% !important;right: 6%;top:10px;padding: 30px 25px 25px 25px !important;}
    p.choose_plan{width: 100%;}
    .pricing_plans ul li:first-child .pricing_started {margin-top: 20%;}
    .pricing_started a{padding: 10px 60px;font-size:14px;}
    li.recommended_pricing .pricing_started a{font-size:16px;}
    .pricingplan_listing p{font-size:12px;}
    .pricingplan_listing p.listing_small_para{font-size:11px;}
    .pricing_plans ul li{padding:10px;width:35%;}
    .pricingplan_listing p img{width:12px;}
    }
    @media only screen and (max-width:1199px) {
    .step_div.tally_connector_step_1 button.free_download_connector{font-size:14px;}
    .cstm_header .navbar {padding: 0rem 1rem !important;}
    .cstm_header .navbar-dark .navbar-nav .nav-link{padding: 1rem 0.5rem;font-size: 13px;}	
    .nav-cta-button {padding-left: 0.5rem;}	
    .tabbable-line .tab-content ul li {font-size: 14px !important;}	
    .free_trial {font-size: 14px;padding: 10px 15px;}
    .third_index .banner_overlay img {width: 70%;}   
    .third_index .banner_overlay {top: 60px;}
    .configurations_tabing_inner ul.d-flex.justify-content-between {white-space: nowrap;overflow-x: scroll;}
    .configurations_tabing_inner ul.d-flex.justify-content-between li {display: inline-block;}
    ul.configurations-tab-ul{white-space: nowrap;overflow-x: scroll;justify-content: flex-start !important}
    ul.configurations-tab-ul li {display: inline-block;}
    .voucher_inner_content .table-responsive {display: block;width: 100%;overflow-x: auto;-webkit-overflow-scrolling: touch;}
    .voucher_inner_content table {table-layout: auto !important;white-space: nowrap;}

    
    }

    @media only screen and (max-width:1024px){
        .pricing_started a{padding:10px 35px;}
        img.pricing_overlay{width:0px;}
    }
    
    @media only screen and (max-width:991.98px) {
        .pricing_plans ul{width:100%;}
        a.faq_atag.active_faq:after{display: none;}
        ul.faq_list li {text-align: center;border: 1px solid #ddd;border-radius: 5px;margin-bottom: 5px;padding: 8px 10px;}
        ul.faq_list {padding: 0;}
        ul.faq_list li a {font-size: 14px !important;}
        h2.new_option3_main_heading img{width:100px;}
        h2.new_option3_main_heading{font-size:30px;}
        .step_div{padding-bottom:20px !important;}
        .loginsidebar_footer h5{padding-left:0;}
        .loginsidebar_footer ul{padding-left:0;}
        .loginsidebar_footer h3{padding-left:0;}
        #company_status{margin-bottom:50px;}
        .about_bottom_content h4{font-size:24px !important;line-height:normal !important;}
        .about_bottom_content p{font-size:16px !important;line-height:26px !important;}
        .right_border:after{display: none;}
        .new_abot_main_inner {background-image: none !important;height: auto !important;}
        .section_pading.pricing-new-website{padding: 25px 15px 0 15px !important;}
    .three_step_innerdiv.view_two_option ul.step_box_ul li.step_box_li{width:100% !important;margin:0;}
    li.step_box_li.second_option_li_box{height:auto;}
    button.login_btn {padding: 5px 15px !important;font-size: 14px !important;margin-left:10px;}
    .unlimited_access {margin-top: 20px;}
    a.faq_atag{font-size: 14px;}
    .mobile_order_2 {order: 2;}
    .setup_steps_div.after_border:before {background: transparent;width: 0;height: 0;}
    .mini-footer-caption p {text-align: center;}
    ul.help-footer-menu {text-align: center;}
    .basic_access ul {column-count: 2;column-gap: 2.5em;}
    .third_index .get_started_image{display: none;}
    .three_step_innerdiv.third_main_option_last ul.step_box_ul li.step_box_li{margin:0;}
    .third_option_li_box{padding-bottom:30px;}
    .third_option_li_box{height:auto;}
    .second_option_box_login_view{margin-bottom:20px;}
    .video-image-new-web img {width: 350px;}
    button.join_free_button{margin-top:30px !important;}
    .third_index span.error-validation.error_field_front {position: absolute;bottom: 50px;left: 15%;}
    
    /****************  landing-page responsivess   ****************/
    .login_overlay_mobile{height: 100%;width: 0;position: fixed;z-index: 9999;top: 0;right: 0;background-color: rgb(84 90 99 / 27%);overflow-x: hidden;transition: 0.3s;box-shadow:none;padding:0;}
    .login_form_mobile_device{float: right;width: 100%;background-color: #fff;height: 100%;padding: 25px 35px;overflow: hidden;}
    .login_overlay_mobile a.closebtn {padding: 0;text-decoration: none;font-size: 32px;color: #1a1a1a;display: block;transition: 0.3s;position: relative;top: inherit;right: inherit;display: block;}
    .landing_home .request-form {width: 100% !important;margin-top: 50px !important;}
    .landing_rating-lkp .rating-lkp-left img {width: 50% !important;margin: 0 auto !important;display: table !important;margin-bottom: 20px !important;}
    .landing_rating-lkp h3 {text-align: center !important;}
    .revenue-card {margin-bottom: 25px !important;}
    .landing_revenue .revencue-content {margin-top: 0 !important;}
    .landing_testimonial .testimonial-heading h3 {text-align: center !important;}
    .landing_testimonial .testimonial-heading p {text-align: center !important;}
    .landing_home .home-banner-content h2 {text-align: center !important;}
    .landing_home .home-banner-content p {text-align: center !important;}
    .landing_feature .feature-image {text-align: center !important;}
    .landing_feature .feature-content {text-align: center !important;}
    .landing_footer h2.footer-cname {text-align: center !important;}
    .landing_footer p.footer-call {text-align: center !important;}
    .landing_footer ul.social_media_icons {text-align: center !important;}
    .landing_footer ul.help-footer-menu {text-align: center !important;margin-top: 20px !important;}
    
    
    /****************  landing-page responsivess   ****************/
    .third_index .banner_overlay img {width: 70%;float: none;text-align: center;margin: 0 auto;display: table;}
    .third_index .banner_overlay {position: relative !important;right: 0;top: 0 !important;}
    .loginsidebar_footer {position: relative;bottom: 0;margin-top: 10px;}
    .new_loginsidebar .login_form_heading {padding-top: 0px;padding-bottom: 0px;}
    .newwebsite_index ul.step_box_ul li.step_box_li{width:31%;}
    .mobile_footer_fix.newwebsitefooter .download_now_ft {display: block !important;}
    .mobile_footer_fix.newwebsitefooter .login-mobile-button-footer {display: block !important;}
    .newwebsite_index .three_step_heading p:after {left: 51%;}
    header.web_menu.newwebsite_header {width: 100%;}
    footer.new-footer-design {width: 100%;padding-bottom: 0 !important;padding-left: 0 !important;padding-right: 0 !important;}
    footer.new-footer-design ul {margin-bottom: 10px;}
    .second_index_design button.join_free_button {margin-top: 0 !important;}
    .three_step_innerdiv.view_two_option ul.step_box_ul {display: block !important;}
    .tallyconnector_step1_video img {width: 100% !important;}
    li.step_box_li.video_li {margin-bottom: 40px !important;}
    .three_step_innerdiv.view_two_option ul.step_box_ul li.step_box_li {width: 75% !important;margin: 0 auto;}
    .video-image-new-web img {width: 100% !important;}
    .three_step_innerdiv.third_main_option_last ul.step_box_ul.new_website_step_box_ul li.step_box_li {width: 75% !important;margin: 0 auto;}
    .three_step_innerdiv.third_main_option_last ul.step_box_ul.new_website_step_box_ul {display: block !important;}
    .step_div.tally_connector_step_1.after_border.new_website_step_1 {margin-bottom: 35px;}
    .new_website_step_box_ul .video-image-new-web img {width: 100% !important;}
    .feature-new-website {height: auto !important;}
    .pricing-new-website{height: auto !important;}
    footer.new-footer-design {margin-bottom:0%;display: none}
    .mobile_footer_fix.newwebsitefooter {display: block !important;width: 100% !important;}
    li.nav-item.mobile_listing_menu {display: block !important;}
    header.web_menu.newwebsite_header a.website_header_menu .active-btn {padding: 0.3rem 0.5rem !important;font-size: 12px !important;}
    .third_index span.error-validation.error_field_front {position: relative;bottom: inherit;left: inherit;padding-top: 5px;}
    .watch_video_link {margin-top: 10px;}
    .option_three_faq{height: auto !important;}
    .pricing_plans ul {display: block;padding-bottom: 110px;}
    .pricing_plans ul li {width: 65%;margin: 0 auto;}
    li.recommended_pricing {position: relative !important;width: 65% !important;right: 0 !important;top: 70px !important;margin: 0 auto;}
    .pricing_card {border-right: 0;padding: 15px 0px 15px 0px;}
    .pricing_plans ul li:first-child .pricing_started {margin-top: 0;}
    .pricing_plans ul li {border: 1px solid #C7C7C7;border-radius: 12px;margin-top: 25px;}
    span.pricing_recommended {left: 27%;}
    p.choose_plan {text-align: center;}
     .configuration_card select {width: 100% !important;}
    select.configuration_select.invoice_detail_bank {width: 200px !important;}
    .digit_counter{width: 100% !important;}

    
    }
        
    @media only screen and (max-width:991px) {
    .three_step_innerdiv:before{display: none;}
    .installation_div {margin-bottom: 20px;height: auto;padding-bottom: 30px !important;}
    .installation_div a.download_now_btn {width: 100%;}
    .login_form{width:100% !important;}
    .career_content{width:100%;}
    .cstm_header .navbar-dark .navbar-nav .nav-link {padding: 0.5rem 0.3rem;line-height: 25px;}
    .step-2-mobile {display: block !important;}
    .step-2-desktop {display: none;}
    .step_2_content {text-align: center;}
    .step_2_content br{display: none;}
    .app_icon_align ul {justify-content: center;}
    li.ft_demo_btn {margin-top: 15px;}
    .cstm_header .navbar {height: auto !important;z-index: 9 !important;}
    .phone_banner_img {display: block !important;}
    .abot_main_inner {background-image: none !important;;height: auto !important;;}
    .product-phone-content {margin-top: 40px;}
    .tabbable-line .tab-content ul li {font-size: 16px !important;}	
    .pricing_heighted_list {height: auto !important;margin-bottom: 50px;}
    .price-plan {margin-bottom: 50px;}
    .faq-tabbable-line > .nav-tabs > li {margin: 0 15px 10px 15px !important;width: 100%;text-align: center;}
    .faq-tabbable-line > .tab-content{width: 100% !important;}
    .information-image {margin-top: 50px;}
    .mobile_tally_graph {display: block !important;}
    .web_tally_graph {display: none !important;}
    .cstm_header {height: auto !important;}
    .about_ares_div {margin-bottom: 50px;}
    br {display: none;}
    .need_contact_btn {margin-top: 3rem !important;}
    button:focus {outline: none !important;box-shadow: none !important;}
    .product_image_div {height: auto !important;}
    #benefits .mid-text h5 {height: auto !important;}
    section#pricing_tally .d-sm-flex {display: block !important;}
    
    
    }
    
    @media only screen and (max-width:767.98px) {
    
    /****************  landing-page responsivess   ****************/
    .input_with_join_button.input-group{width:100%;}
    button.join_free_button{border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-top-left-radius: 5px;border-bottom-left-radius:5px;}
    .landing_home .home-banner-content h2 {font-size: 24px !important;}
    .landing_home .home-banner-content p{font-size: 14px !important;}
    .landing_rating-lkp h3 {font-size: 20px !important;}
    .landing_feature .feature-content h5 {font-size: 24px !important;line-height: inherit !important;margin: 0 0 10px 0 !important;}
    .landing_feature .feature-content p {font-size: 14px !important;line-height: inherit !important;}
    .landing_feature .feature-image img {width: 350px !important;}
    .revenue-card {text-align: center !important;}
    .landing_testimonial .testimonial-heading h3 {font-size: 24px !important;}
    .landing_testimonial .testimonial-heading p{font-size: 14px !important;}
    
    
    /****************  landing-page responsivess   ****************/
    
    .third_index ul.step_box_ul li.step_box_li {width: 100% !important;}
    .third_index .get_started_image {left: 2% !important;bottom: 10% !important;}
    .only_double_input {width: 100% !important;border-radius: 5px;}
    .third_index input.mobile_number_input {border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
    .third_index .banner_overlay img {width:75% !important;}
    a.closebtn.indexfour_close {position: absolute;right: 20px;top: 0px;}
    ul.step_box_ul li.step_box_li {width: 90% !important;margin: 0 auto !important;}
    .newwebsite_index .three_step_heading p:after {background: transparent;width: 0px;}
    .newwebsite_index .get_started_image {left: 0;}
    .feature-new-website {height: auto !important;}
    section.newbody_padding {margin-bottom: 55px !important;}
    .second_index_design button.join_free_button {margin-top: 15px !important;}
    .third_index h2 {display: block !important;}
    .newwebsite_header a.nav-link.website_header_menu {padding: 0.5rem 0.5rem !important;}
    .three_step_innerdiv.view_two_option ul.step_box_ul li.step_box_li {width: 90% !important;margin: 0 auto;}
    .three_step_innerdiv.third_main_option_last ul.step_box_ul.new_website_step_box_ul li.step_box_li {width: 90% !important;margin: 0 auto;}
    .third_index .mobile_number_section_new {margin: 1.5rem 1rem 1.5rem 1rem;}
    .third_index h2 span:after{bottom: 0px !important;}
    .third_index .step_div {height: auto;}
    span.pricing_recommended {left: 10%;width: 80%;text-align: center;top:0 !important;}
    .pricing_started a {padding: 10px 35px;font-size: 16px !important;width: 100%;}
    img.pricing_overlay {display: none;}
    li.recommended_pricing{top: 25px !important;} 
    .pricing_plans ul {padding-bottom: 50px;}
    #pricing {padding: 30px 0px 30px 0px;}
    .configurations_tabing_inner ul {white-space: nowrap;overflow-x: scroll;justify-content: flex-start !important;}


    }
    
    
    @media only screen and (max-width:767px) {
    .three_step_heading p:after{left:50%;}
    ul.step_box_ul{display: block;}
    ul.step_box_ul li.step_box_li{width:100%;margin:0;}
    .tally_button_main:hover .windows_download_tally{transform: translate(60px, 0px);}
    .green_box_message p{font-size:14px;}
    .content_flow ul li{margin-right:0;margin-bottom:10px;text-align:left;width:100%;}
    .content_flow{margin:0 !important;}
    .step_div{margin-bottom:40px;min-height:auto;}
    .get_started_image img{width: 60px;}
    .get_started_image{left: 1%;bottom: 10%;}
    span.number_count.connector_count{top: -8%;left: 44%;}
    .three_step_heading p{font-size: 16px;}
    section#home_setup h2 span:after {height: 3px;width: 100%;}
    section#home_setup h2 img{width: 80px;}
    section#home_setup h2{line-height:45px;font-size:28px;margin: 20px 0 0 0 !important;}
    .login_btn{display:none;}
    ul.store_button_ul {display: none;}
    .counter_first_section ul li{display: block;margin-right:0;}
    .rightside_ul_features{margin-left:0 !important;display: block;}
    #top_banner_section{padding-top:100px;}
    button.join_free_button{margin-top:15px;margin-left:0 !important;width:100%;}
    ul.store_button_ul li{width:100%;display: block;margin-bottom: 10px;}
    .fron_site_inputbox input{width:100% !important;}
    .input_with_join_button{display: block;}
    .mobile-device-hide{display: none;}
    .main_left_div {text-align: center;}
    .download_now_ft{display:block !important;}
    .login-mobile-button-footer{display:block !important;}
    footer {padding: 50px 0 60px 0 !important;}
    .product-phone-content img {max-width: 75% !important;}
    img.laptop_svg {max-width: 100% !important;}
    img.tally_your_phone {max-width: 100% !important;}
    .tapi_comands_tallylogo img {max-width: 30%;}
    h1 {font-size: 45px !important;}
    .count_div h4 {font-size: 35px;}
    .big_heading {font-size: 30px !important;}
    .sub_title {font-size: 25px !important;}
    .why_lkp_content h2{font-size: 20px !important;}
    .why_lkp_content h1{font-size: 20px !important;}
    h5 {font-size: 20px !important;}
    h5.footer_page_nem{font-size: 20px !important;}
    .modal-dialog.modal-dialog-centered {max-width: 100% !important;}
    .mobile_footer_fix {width: 100% !important;}
    #Media_byte .owl-carousel .owl-nav button.owl-next span img.arrow_crousel {max-width: 80%;float: right;}
    #Media_byte .owl-carousel .owl-nav button.owl-prev span img.arrow_crousel {max-width: 80%;float: left;}
    #Media_byte .owl-carousel .owl-nav button.owl-next {top: 44% !important;}
    #Media_byte .owl-carousel .owl-nav button.owl-prev {top: 44% !important;}
    .setup_steps_div {margin-top: 20px;}
    .pricing_btn {width: 100%;display: block;margin-bottom: 25px;text-align: center;}
    .pricing_nav{display: block;}
    .unlimited_access {margin-top: 20px;}
    .basic_access.unlimited_access.free_plan {margin-top: 0;}
    .basic_access.free_plan {margin-top: 20px;}
    ul.faq_list {display: block;}
    a.faq_atag.active_faq:after {left: 0;height: 2px;width: 100%;top: 20px;}
    /*****/
    .pricing_nav {display: block;width: 100%;float: left;margin-bottom: 20px;padding: 10px 15px;}
    li.plans_tab_heading {float: left !important;width: 100% !important;text-align: center;margin-right: 0 !important;}
    .pricing_nav li {float: left;width: 30%;margin-right: 5px;margin-left: 5px;}
    .basic_access ul {column-count: 1;column-gap: 0;}
    .configurations-tabing-inner-content {padding: 10px 10px;}

    }
    
    @media only screen and (max-width:575px) {
        div#openpricingbanner___BV_modal_outer_ .modal-dialog{margin:10px;}
    #testimonials .owl-nav button.owl-prev{height:35px;width:35px;}
    #testimonials .owl-nav button.owl-next{height:35px;width:35px;}
    #testimonials .owl-nav button.owl-prev span{top: -15px;left: 11px;}
    #testimonials .owl-nav button.owl-next span{top: -15px;left: 13px;}
    .faq_open_div a.card-title{font-size:16px;}
    .faq_open_div .card-body p{font-size:14px;}
    .client_review p{font-size:16px;}
    .basic_access ul li{font-size: 14px;}
    .only_double_input{width:100%;}
    .rightside_ul_features ul{text-align: left;}
    .pricing_nav li {width: 85%;margin-right: 0;margin-left: 0;margin: 0 auto;display: table;float: none;}
    span.original_pricing {display: block;}
    .section_pading{padding: 30px 0px;}	
    footer {padding: 20px 0 120px 0 !important;}
    h5.footer_page_nem{margin-bottom: 5px !important;}
    .bottom-footer p {margin-bottom: 5px !important;}
    ul.help-footer-menu li {width: 100%;margin-bottom: 10px;}
    .website_mobile_top_padding {padding-top: 100px;}
    .terms-content {padding-left: 20px !important;}
    .website_mobile_top_padding h1 {margin-bottom: 0 !important;word-break: break-word;font-size: 24px!important;}
    .separator{margin: 15px 0;}li.plans_tab_heading {display: none;}footer.new-footer-design {margin-bottom: 0%;}
    .pricing_plans ul li {width: 90% !important;}
    li.recommended_pricing{top: 25px !important;}
    .pricing_started a {padding: 10px 20px;font-size: 16px !important;}
    .outstanding_switch {width: 100% !important;display: block !important;}
    .configuration_card .switch {float: right;}
    .customize_declaration {display: block !important;}
    .d-flex-bankac {display: block !important;}
    .d-flex-bankac select.configuration_select.invoice_detail_bank {width: 100% !important;}

}
    