/* MaterialDesignIcons.com */
@font-face {
  font-family: "Material Design Icons";
  src: url("fonts/materialdesignicons-webfont.eot?v=2.0.46");
  src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=2.0.46") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=2.0.46") format("woff2"), url("fonts/materialdesignicons/materialdesignicons-webfont.woff?v=2.0.46") format("woff"), url("fonts/materialdesignicons/materialdesignicons-webfont.ttf?v=2.0.46") format("truetype"), url("fonts/materialdesignicons/materialdesignicons-webfont.svg?v=2.0.46#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.mdi {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-menu:before {content: "\F35C";}
.mdi-menu-down:before {content: "\F35D";}
.mdi-menu-down-outline:before {content: "\F6B5";}
.mdi-menu-left:before {content: "\F35E";}
.mdi-menu-right:before {content: "\F35F";}
.mdi-menu-up:before {content: "\F360";}
.mdi-arrow-all:before {content: "\F041";}
.mdi-arrow-bottom-left:before {content: "\F042";}
.mdi-arrow-bottom-right:before {content: "\F043";}
.mdi-arrow-collapse:before {content: "\F615";}
.mdi-arrow-collapse-all:before {content: "\F044";}
.mdi-arrow-collapse-down:before {content: "\F791";}
.mdi-arrow-collapse-left:before {content: "\F792";}
.mdi-arrow-collapse-right:before {content: "\F793";}
.mdi-arrow-collapse-up:before {content: "\F794";}
.mdi-arrow-down:before {content: "\F045";}
.mdi-arrow-down-bold:before {content: "\F72D";}
.mdi-arrow-down-bold-box:before {content: "\F72E";}
.mdi-arrow-down-bold-box-outline:before {content: "\F72F";}
.mdi-arrow-down-bold-circle:before {content: "\F047";}
.mdi-arrow-down-bold-circle-outline:before {content: "\F048";}
.mdi-arrow-down-bold-hexagon-outline:before {content: "\F049";}
.mdi-arrow-down-box:before {content: "\F6BF";}
.mdi-arrow-down-drop-circle:before {content: "\F04A";}
.mdi-arrow-down-drop-circle-outline:before {content: "\F04B";}
.mdi-arrow-down-thick:before {content: "\F046";}
.mdi-arrow-expand:before {content: "\F616";}
.mdi-arrow-expand-all:before {content: "\F04C";}
.mdi-arrow-expand-down:before {content: "\F795";}
.mdi-arrow-expand-left:before {content: "\F796";}
.mdi-arrow-expand-right:before {content: "\F797";}
.mdi-arrow-expand-up:before {content: "\F798";}
.mdi-arrow-left:before {content: "\F04D";}
.mdi-arrow-left-bold:before {content: "\F730";}
.mdi-arrow-left-bold-box:before {content: "\F731";}
.mdi-arrow-left-bold-box-outline:before {content: "\F732";}
.mdi-arrow-left-bold-circle:before {content: "\F04F";}
.mdi-arrow-left-bold-circle-outline:before {content: "\F050";}
.mdi-arrow-left-bold-hexagon-outline:before {content: "\F051";}
.mdi-arrow-left-box:before {content: "\F6C0";}
.mdi-arrow-left-drop-circle:before {content: "\F052";}
.mdi-arrow-left-drop-circle-outline:before {content: "\F053";}
.mdi-arrow-left-thick:before {content: "\F04E";}
.mdi-arrow-right:before {content: "\F054";}
.mdi-arrow-right-bold:before {content: "\F733";}
.mdi-arrow-right-bold-box:before {content: "\F734";}
.mdi-arrow-right-bold-box-outline:before {content: "\F735";}
.mdi-arrow-right-bold-circle:before {content: "\F056";}
.mdi-arrow-right-bold-circle-outline:before {content: "\F057";}
.mdi-arrow-right-bold-hexagon-outline:before {content: "\F058";}
.mdi-arrow-right-box:before {content: "\F6C1";}
.mdi-arrow-right-drop-circle:before {content: "\F059";}
.mdi-arrow-right-drop-circle-outline:before {content: "\F05A";}
.mdi-arrow-right-thick:before {content: "\F055";}
.mdi-arrow-top-left:before {content: "\F05B";}
.mdi-arrow-top-right:before {content: "\F05C";}
.mdi-arrow-up:before {content: "\F05D";}
.mdi-arrow-up-bold:before {content: "\F736";}
.mdi-arrow-up-bold-box:before {content: "\F737";}
.mdi-arrow-up-bold-box-outline:before {content: "\F738";}
.mdi-arrow-up-bold-circle:before {content: "\F05F";}
.mdi-arrow-up-bold-circle-outline:before {content: "\F060";}
.mdi-arrow-up-bold-hexagon-outline:before {content: "\F061";}
.mdi-arrow-up-box:before {content: "\F6C2";}
.mdi-arrow-up-drop-circle:before {content: "\F062";}
.mdi-arrow-up-drop-circle-outline:before {content: "\F063";}
.mdi-arrow-up-thick:before {content: "\F05E";}
.mdi-chevron-double-down:before {content: "\F13C";}
.mdi-chevron-double-left:before {content: "\F13D";}
.mdi-chevron-double-right:before {content: "\F13E";}
.mdi-chevron-double-up:before {content: "\F13F";}
.mdi-chevron-down:before {content: "\F140";}
.mdi-chevron-left:before {content: "\F141";}
.mdi-chevron-right:before {content: "\F142";}
.mdi-chevron-up:before {content: "\F143";}
.mdi-check:before {content: "\F12C";}
.mdi-check-all:before {content: "\F12D";}
.mdi-check-circle:before {content: "\F5E0";}
.mdi-check-circle-outline:before {content: "\F5E1";}
.mdi-checkbox-blank:before {content: "\F12E";}
.mdi-checkbox-blank-circle:before {content: "\F12F";}
.mdi-checkbox-blank-circle-outline:before {content: "\F130";}
.mdi-checkbox-blank-outline:before {content: "\F131";}
.mdi-checkbox-marked:before {content: "\F132";}
.mdi-checkbox-marked-circle:before {content: "\F133";}
.mdi-checkbox-marked-circle-outline:before {content: "\F134";}
.mdi-checkbox-marked-outline:before {content: "\F135";}
.mdi-checkbox-multiple-blank:before {content: "\F136";}
.mdi-checkbox-multiple-blank-circle:before {content: "\F63B";}
.mdi-checkbox-multiple-blank-circle-outline:before {content: "\F63C";}
.mdi-checkbox-multiple-blank-outline:before {content: "\F137";}
.mdi-checkbox-multiple-marked:before {content: "\F138";}
.mdi-checkbox-multiple-marked-circle:before {content: "\F63D";}
.mdi-checkbox-multiple-marked-circle-outline:before {content: "\F63E";}
.mdi-checkbox-multiple-marked-outline:before {content: "\F139";}
.mdi-checkerboard:before {content: "\F13A";}
.mdi-minus:before {content: "\F374";}
.mdi-minus-box:before {content: "\F375";}
.mdi-minus-box-outline:before {content: "\F6F1";}
.mdi-minus-circle:before {content: "\F376";}
.mdi-minus-circle-outline:before {content: "\F377";}
.mdi-minus-network:before {content: "\F378";}
.mdi-plus:before {content: "\F415";}
.mdi-plus-box:before {content: "\F416";}
.mdi-plus-box-outline:before {content: "\F703";}
.mdi-plus-circle:before {content: "\F417";}
.mdi-plus-circle-multiple-outline:before {content: "\F418";}
.mdi-plus-circle-outline:before {content: "\F419";}
.mdi-plus-network:before {content: "\F41A";}
.mdi-plus-one:before {content: "\F41B";}
.mdi-plus-outline:before {content: "\F704";}